
<title>Mimic Test</title>

{% from 'macros.html' import render_nav_links %}

{% extends 'base.html' %}
{% block content %}

     <div class="container">

            <h3>Test a Mimic </h3>
             {{ render_nav_links() }}
             <hr>
            <br>
 		<h4>POST</h4>
         <form class="" action="/signUp" method="post" role="form">            
             <input id='tag' name="tag"  placeholder="tag">
             <input id='url' name="url"  placeholder="url">
             <input id='payload' name="payload"  placeholder="payload">
            
             <button id="POST" class="btn btn-sm btn-default" type="button">Send </button>
         </form>

         <br>

 		<h4>GET</h4>
         <form class="" action="/signUp" method="post" role="form">                        
             <input id='q_tag' name="q_tag"  placeholder="tag">
             <input id='q_url' name="q_url"  placeholder="url">
             <input id='query' name="query"  placeholder="query string">

             <button id="GET" class="btn btn-sm btn-default" type="button">Send </button>
         </form>

         <br>
         <br>
         <h4>Mimic response</h4>
	     <div>
	     	<pre id='response'></pre>
	     </div>
      
     </div>


 <script type="text/javascript">
 	
 	$(function() {
	    $('#POST').click(function() {
	        var url = $('#url').val();
	        var tag = $('#tag').val();
	        var payload = $('#payload').val();

	        dict = {
	        	'url': url,
	        	'tag': tag,
	        	'payload': payload,
	        }

	        var json_string = JSON.stringify(dict)
	        console.log(json_string)

	        $.ajax({
	        	beforeSend: function(xhrObj){
			        xhrObj.setRequestHeader("Content-Type","application/json");
			        xhrObj.setRequestHeader("Accept","application/json");
			    },
	            url: '/mimic/post',
	            data: json_string,
	            dataType: "json",
	            type: 'POST',
            	success: function(data) {
                    $("#response").html(function() {
                      return JSON.stringify(data);
					});	
            	},
            	error: function(error) {
                	console.log(error);
            	}
        	});
    	});
	});


    $(function() {
        $('#GET').click(function() {
            var url = $('#q_url').val();
            var tag = $('#q_tag').val();
            var query = $('#query').val();

            dict = {
                'url': url,
                'tag': tag,
                'query': query,
            }

            var json_string = JSON.stringify(dict)
            console.log(json_string)

            $.ajax({
                beforeSend: function(xhrObj){
                    xhrObj.setRequestHeader("Content-Type","application/json");
                    xhrObj.setRequestHeader("Accept","application/json");
                },
                url: '/mimic/get',
                data: json_string,
                dataType: "json",
                type: 'POST',
                success: function(data) {
                    $("#response").html(function() {
                      return JSON.stringify(data);
                    }); 
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });    

 </script>
 
 {% endblock %}