<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta charset="utf-8">
  	 <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <title>Mimic Docs</title>
 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 </head>
 
 <body>
 
     <div class="container">
 
         <h3>Mimic Docs</h3>

    <hr>
    <br>

    <blockquote>

         <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>

         <small>by <cite>Albert Einstein</cite></small>

    </blockquote>



    

    <blockquote>

         <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>

         <small>by <cite>Albert Einstein</cite></small>

    </blockquote>





    <blockquote>

         <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>

         <small>by <cite>Albert Einstein</cite></small>

    </blockquote>




    <blockquote>

         <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>

         <small>by <cite>Albert Einstein</cite></small>

    </blockquote>




    <blockquote>

         <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>

         <small>by <cite>Albert Einstein</cite></small>

    </blockquote>



      
     </div>
   
 </body>
 
 </html>