<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mimic Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h3>Mimics</h3>
<!-- <hr> -->
<br>
<table class="table">
<tr>
	<th>Verb</th>
	<th>Service</th>
	<th>Url</th>
	<th>Tag</th>
	<th>Schema</th>
	<th>Response</th>
	<th>Actions</th>
</tr>
{% for ep in data %}
	<tr>
		<td>{{ ep.verb }}</td>
		<td>{{ ep.service }}</td>
		<td>{{ ep.url }}</td>
		<td>{{ ep.tag }}</td>
		<td><button class="btn btn-sm btn-default">View</button></td>
		<td><button class="btn btn-sm btn-default">View</button></td>
		<td>
			<button class="btn btn-sm btn-default">Edit</button>
			<button class="btn btn-sm btn-danger">X</button>
		</td>
	</tr>
{% endfor %}
</table>
</div>

</body>
</html>