<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta charset="utf-8">
  	 <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <title>Mimic Insert</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 </head>
 
 <body>

     <div class="container">

 
         <form class="" action="/signUp" method="post" role="form">            
            <h3>Insert endpoint </h3>
             <a href="/ui/" style="float: right;padding: 20px;">Index</a>
             <hr>
            <br>
             <input id='verb' name="verb"  placeholder="verb">
             <input id='service' name="service"  placeholder="service">
             <input id='url' name="url"  placeholder="url">
             <input id='tag' name="tag"  placeholder="tag">
             <input id='schema' name="schema"  placeholder="schema">
             <input id='resp' name="response"  placeholder="response">
            <br>
             <button class="btn btn-sm btn-default" type="button">Insert </button>
         </form>
      
     </div>
   
 </body>

 <script type="text/javascript">
 	
 	$(function() {
	    $('button').click(function() {
	        var verb = $('#verb').val();
	        var service = $('#service').val();
	        var url = $('#url').val();
	        var tag = $('#tag').val();
	        var schema = $('#schema').val();
	        var response = $('#resp').val();

	        dict = {
	        	'verb': verb,
	        	'service': service,
	        	'url': url,
	        	'tag': tag,
	        	'schema': schema,
	        	'payload': response,
	        }

	        var json_string = JSON.stringify(dict)
	        // alert(json_string)
	        console.log(json_string)

	        $.ajax({
	        	beforeSend: function(xhrObj){
			        xhrObj.setRequestHeader("Content-Type","application/json");
			        xhrObj.setRequestHeader("Accept","application/json");
			    },
	            url: '/insert_endpoint',
	            data: json_string,
	            dataType: "json",
	            type: 'POST',
            	success: function(data) {
                    if ('error' in data) {
                        alert(data['error'])
                    }
                    else {                        
                        alert(data['success'])
                    }
            	},
            	error: function(error) {
                	console.log(error);
            	}
        	});
    	});
	});


 </script>
 
 </html>