<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta charset="utf-8">
  	 <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <title>Mimic Update</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
 
 </head>
 
 <body>
 
     <div class="container">

         <form class="" action="/signUp" method="post" role="form">
             <h3 class="form-signin-heading">Update endpoint </h3>
             <a href="/ui/" style="float: right;">Index</a>
             <hr>
    		<br>
             <input type="hidden" id='idx' name="idx" placeholder="idx" value="{{data.id}}">
             <input id='verb' name="verb" placeholder="verb" value="{{data.verb}}">
             <input id='service' name="service" placeholder="service" value="{{data.service}}">
             <input id='url' name="url" placeholder="url" value="{{data.url}}">
             <input id='tag' name="tag" placeholder="tag" value="{{data.tag}}">
             <input id='schema' name="schema" placeholder="schema" value="{{data.schema}}">
             <input id='resp' name="response" placeholder="response" value="{{data.payload}}">
            <br>
             <button class="btn btn-sm btn-default" type="button">Update </button>
         </form>
      
     </div>
   
 </body>

 <script type="text/javascript">
 	
 	$(function() {
	    $('button').click(function() {
	        var idx = $('#idx').val();
	        var verb = $('#verb').val();
	        var service = $('#service').val();
	        var url = $('#url').val();
	        var tag = $('#tag').val();
	        var schema = $('#schema').val();
	        var response = $('#resp').val();

	        dict = {
	        	'id': idx,
	        	'verb': verb,
	        	'service': service,
	        	'url': url,
	        	'tag': tag,
	        	'schema': schema,
	        	'payload': response,
	        }

	        var json_string = JSON.stringify(dict)
	        console.log(json_string)

	        $.ajax({
	        	beforeSend: function(xhrObj){
			        xhrObj.setRequestHeader("Content-Type","application/json");
			        xhrObj.setRequestHeader("Accept","application/json");
			    },
	            url: '/update_endpoint',
	            data: json_string,
	            dataType: "json",
	            type: 'PUT',
            	success: function(data) {
                    if ('error' in data) {
                        alert(data['error'])
                    }
                    else {
                        alert(data['success'])
                        window.location.href = "/ui/";
                    }
            	},
            	error: function(error) {
                	console.log(error);
            	}
        	});
    	});
	});


 </script>
 
 </html>